@import url('./mobile-config.css');
@import url('./calculadora.css');
.derecha {
    margin: 0 auto;
    display: grid;
    justify-content: space-around;
    align-items: center;
    margin-top: 10vh;
}
.container {
    display: flex;
    justify-content: space-around;
    padding: 5vh;
}